<div class="full-page">
    <div class="register-container">
      <div class="register">
        <div class="register-titel">
          <img src="../../assets/logo-securepass.svg" alt="">
          <h2>Passwort zurücksetzen</h2>
        </div>
  
        <form (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" style="margin-top: 12px;">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" required>
          </mat-form-field>
  
          <button style="margin-top: -8px;" mat-flat-button color="primary" type="submit">Link zum Zurücksetzen senden</button>
          <button mat-raised-button (click)="routeLogin()">Zurück zum Login</button>
        </form>
      </div>
    </div>
  </div>
  