/* Hintergrundfarbe */
.page {
  background: linear-gradient(135deg, #eaeff575, #ffffff70);
  min-height: 100vh;
  border-radius: 24px !important;
  backdrop-filter: blur(20px); /* Weichzeichnereffekt für den Apple-Look */
}

/* Toolbar Styling */
.mat-toolbar {
  background: #f7f7f7;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.upperPartOfPage {
  padding: 24px;
}

.spacer {
  height: 24px;
}

/* Karten-Layout */
.allCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 32px;
  gap: 32px;
}

/* Karten-Design */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 150px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover-Effekte */
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

/* Hintergrundfarben für spezifische Karten */
.youtube {
  background: linear-gradient(135deg, #ff0000, #e03e2d);
}

.chatgpt, .blackboxai {
  background: linear-gradient(135deg, #a5a5a5, #ffffff);
}

.yahoo {
  background: linear-gradient(135deg, #520fa9, #b06ffb);
}

.outlook {
  background: linear-gradient(135deg, #0078d7, #64a0ff);
}

.teams {
  background: linear-gradient(135deg, #4c4bb5, #8b94b3);
}

/* Textfarbe */
.text {
  color: #333;
}

.hinzufuegen {
  align-items: center;
  text-align: center;
  background: #9d949469;

}

.hinzufuegen:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* Delete Button */
.button-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 40%;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.button-delete:hover {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
