<div class="page">





    <div class="allCards" fxLayout="row wrap">

        <div class="mat-cards">
            <a href="https://chatgpt.com/c/8dac452e-3083-48f9-8ec4-24023ad48a15" target="_blank"
                style="text-decoration: none;">
                <mat-card class="card chatgpt">
                    <span class="text">Chat GPT</span>
                </mat-card>
            </a>
        </div>

        <div class="mat-cards">
            <a href="https://youtube.com" target="_blank" style="text-decoration: none;">
                <mat-card class="card youtube">
                    <span class="text">Youtube</span>
                </mat-card>
            </a>
        </div>

        <div class="mat-cards">
            <a href="https://www.blackbox.ai" target="_blank" style="text-decoration: none;">
                <mat-card class="card blackboxai">
                    <span class="text">Blackbox AI</span>
                </mat-card>
            </a>
        </div>

        <div class="mat-cards">
            <a href="https://www.yahoo.de" target="_blank" style="text-decoration: none;">
                <mat-card class="card yahoo">
                    <span class="text">Yahoo!</span>
                </mat-card>
            </a>
        </div>

        <div class="mat-cards">
            <a href="https://outlook.office365.com/mail/" target="_blank" style="text-decoration: none;">
                <mat-card class="card outlook">
                    <span class="text">Outlook</span>
                </mat-card>
            </a>
        </div>

        <div class="mat-cards">
            <a href="https://teams.microsoft.com/v2" target="_blank" style="text-decoration: none;">
                <mat-card class="card teams">
                    <span class="text">Teams</span>
                </mat-card>
            </a>
        </div>


        <div *ngFor="let x of links" class="mat-cards">
            <mat-card (click)="openDetailDialog(x)" class="card" [ngStyle]="{'background': x.gradient}">
              <mat-card-title>
                <a [href]="x.url" target="_blank" (click)="$event.stopPropagation()" style="text-decoration: none;">
                  {{ x.title }} <!-- Öffnet die URL in einem neuen Tab, ohne das Dialog-Ereignis auszulösen -->
                </a>
              </mat-card-title>
            </mat-card>
          
            <div class="button-delete">
              <button mat-icon-button (click)="deleteCard(x._id); $event.stopPropagation()"> <!-- Stoppt das Event, um den Dialog nicht zu öffnen -->
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          


        <!-- Button zum Öffnen des Dialogs zum Hinzufügen neuer Kacheln -->
        <div class="mat-cards">
            <mat-card class="card hinzufuegen" (click)="openDialog()" style="text-align: center; cursor: pointer;">
                <mat-icon class="plus">add_circle_outline</mat-icon>
            </mat-card>
        </div>







    </div>






</div>