<div class="page">

    
    <div class="allCards" fxLayout="row wrap">

        <div *ngFor="let x of links" class="mat-cards">
            <!-- Klicke auf die gesamte Karte, um den Dialog zu öffnen -->
            <mat-card (click)="openDetailDialog(x)" class="card" [ngStyle]="{'background': x.gradient}">
              
              <!-- Beim Klicken auf den Namen wird die URL in einem neuen Tab geöffnet -->
              <mat-card-title>
                <a [href]="x.url" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()" style="text-decoration: none; color: white;">
                  {{ x.title }}
                </a>
              </mat-card-title>
          
              <!-- "X" Button zum Löschen der Karte -->
              <div class="button-delete" (click)="deleteCard(x._id); $event.stopPropagation()">
                <mat-icon>close</mat-icon>
              </div>
            </mat-card>
          </div>
          
          
          


        <!-- Button zum Öffnen des Dialogs zum Hinzufügen neuer Kacheln -->
        <div class="mat-cards">
            <mat-card class="card hinzufuegen" (click)="openDialog()" style="text-align: center; cursor: pointer;">
                <mat-icon class="plus">add_circle_outline</mat-icon>
            </mat-card>
        </div>


    </div>






</div>