<div class="page">
    <div class="container">

        <div class="profil flex">
            <h2>Profil</h2>
            <div class="profile-info" *ngIf="userData">

                <label for="email">Benutzername:</label>
                <p id="email">{{ userData.username }}</p>

                <label for="email">E-Mail:</label>
                <p id="email">{{userData.email}}</p>
            </div>
        </div>

        <div class="account flex">
            <h2>Einstellungen</h2>
            <label for="password">Passwort zurücksetzen:</label> <br>
            <input type="text" id="password" placeholder="Neues Passwort eingeben">

            <button mat-raised-button>Passwort Ändern</button>
            <button mat-raised-button (click)="confirmDelete()">Account löschen</button>
        </div>

    </div>
</div>