.page {
    border-radius: 24px;
    min-height: 84vh;
    padding: 0px 30px 0px 30px;
    background-image: url(../../../assets/background3.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    padding-top: 30px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    height: 700px;
    flex-wrap: wrap;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.073);
    border-radius: 25px;
    gap: 30px;
    backdrop-filter: blur(20px); /* backdrop-filter auf den Container anwenden */
  }

.flex {
    display: flex;
    flex-direction: column;
    background-color: #ffffff; // Hintergrundfarbe des Containers
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); // Schatteneffekt
    height: 300px;
    width: 628px;
    border-radius: 15px;
    padding: 20px;
}

h2 {
    text-align: center;
}
.btn {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}
.btn:hover {
    background-color: #45a049;
}

.pw-info{
    background-color: #f7f7f7; /* light gray background */
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
    margin-top: 12px;
    width: auto;

}

.profile-info {
    background-color: #f7f7f7; /* light gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    cursor: default;
    margin-top: -4px;
  }
  
  .profile-info table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  
  .profile-info th, .profile-info td {
    padding: 10px;
    text-align: left;
  }
  
  .profile-info th {
    font-weight: bold;
    color: #333; /* dark gray text */
  }
  
  .profile-info td {
    font-size: 16px;
    color: #666; /* medium gray text */
  }
  
  .profile-value {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* dark gray text */
  }

  .profile-info th, .profile-info td {
    padding: 10px;
    text-align: left;
    vertical-align: top; /* Add this line to align content to the top */
  }


  .account {
    display: flex;
    flex-direction: column;
    align-items: center; /* Add this line to center the content horizontally */
  }
  
  .account label {
    display: block;
    margin-bottom: 10px; /* Add some space between the label and input field */
  }
  
  .account input[type="text"] {
    width: 100%; /* Make the input field full-width */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Add some basic styling to the input field */
  }
  
  .account button {
    margin-top: 10px; /* Add some space between the input field and buttons */
    margin-bottom: 10px; /* Add some space between the buttons */
  }

  .password-field{
    display: flex;
    justify-content: center;
    width: 180px;
  }