<div class="container">
    <h2>Profilseite</h2>
    <div class="profile-info">
        <label for="name">Name:</label>
        <p id="name">Max Mustermann</p>

        <label for="email">E-Mail:</label>
        <p id="email">example.com</p>

        <label for="password">Passwort zurücksetzen:</label> <br>
        <input type="text" id="password" placeholder="Neues Passwort eingeben">
    </div>

    <a href="#" class="btn">Passwort zurücksetzen</a>

    <div class="websites-count">
        <p>Anzahl an erstellten Webseiten: <strong>5</strong></p>
    </div>
</div>