mat-drawer-content {
 display: flex;
 flex-direction: column;
 height: 100vh;
}

.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.sidenav {
 width: 185px; // Feste Breite für die Sidebar
 border-radius: 0%;
 border-bottom: 2px rgba(195, 195, 195, 0.25);
 background-color: #4c50a2; 
 color: #FFFFFF; // Weiß für Text
 cursor: default;
 font-size: 1rem;
 position: fixed;

a {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 margin: 20px;
 color: #FFFFFF; 
 font-size: 1rem;
 background-color: transparent; 
 border-radius: 15px; 

 &:hover {
   background-color: #E07A5F; 
   color: #FFFFFF; 
   border-radius: 15px; 
 }
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
 color: #F0F4F8;
}
.mdc-list-item--with-leading-icon:hover .mdc-list-item__start {
   color: #E07A5F;
}
.mat-mdc-list-item:not(.mat-mdc-list-item-interactive), .mat-mdc-list-option:not(.mat-mdc-list-item-interactive) {
   cursor: pointer;
}
}

mat-toolbar-row {
 background-color: #4c50a2; 
 color: #FFFFFF; // Weiß für Text
 position: fixed;
 top: 0;
 width: 100%;
 height: 80px;
 display: flex;
 align-items: center;
 z-index: 100;


mat-icon {
 font-size: 1.8rem;
 cursor: pointer;
} 

a {
   color: #FFFFFF; // Weiß für Links
   &:hover {
     background-color: #E07A5F; // Warmkorallenrot beim Hover
     color: #FFFFFF; // Weißer Text beim Hover
     border-radius: 5px;
   }
 }
}


mat-toolbar-row img {
width: 75px;
}

ul {
 list-style-type: none;
 padding: 0;
}

li {
 border-width: 2px;
}

.router-container {

 display: flex;
 flex-direction: column;
 width: 100%;
 background-color: #F0F4F8; 
 color: #333333; 
 margin-top: 16px;
}

.menu-icon {
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  
  /* Initialer Zustand */
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
    border-radius: 50%; 
    cursor: pointer;
  }


  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

.spacer{
  margin-left: 10px;
  padding: 8px;
}

.logout{
  width: 80%;
  &:hover{
    background-color: #E07A5F;
    width: 80%;
  }
}