.main-content {
  display: flex;
  height: 100vh;

  .sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: relative; /* Stelle sicher, dass die Sidebar relativ positioniert ist */
    z-index: 1000; /* Setze den Z-Index höher, wenn notwendig */
    
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 16px;

        a {
          cursor: pointer;
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          display: block;
          padding: 8px;
          border-radius: 4px; /* Optional: Fügt abgerundete Ecken hinzu */

          &:hover {
            background-color: #555;
          }

          &.active {
            background-color: #0078d7;
            color: #fff;
          }
        }
      }
    }
  }

  .content {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
  }
}
