mat-drawer-container {
   height: 100vh !important;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;

}

.sidenav {
  background-color: antiquewhite;
  width: 250px; // Feste Breite für die Sidebar
  border-radius: 0%;
  border-bottom: 2px solid rgba(195, 195, 195, 0.25);
}

mat-toolbar-row {
  background-color: antiquewhite;
  border-bottom: 2px solid rgba(195, 195, 195, 0.25);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.router-container {
  flex-grow: 1; // Damit der Inhalt den verfügbaren Platz einnimmt
  display: flex;
  flex-direction: column;
  width: 100%;
}


