.full-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../../assets/securepass2.svg"); /* Das Bild */
  background-size: cover; /* Vollständig das Containerfeld füllen */
  background-position: center; /* Zentrieren */
  background-repeat: no-repeat; /* Keine Wiederholung */
  background-blend-mode: overlay; /* Blendeffekt für Überlagerung */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 100vh;
  width: 100%;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); /* Leichterer, weicherer Schatten */
  border-radius: 25px;
  backdrop-filter: blur(100px); /* Weichzeichnereffekt für den Apple-Look */
  opacity: 0.96;
}

.login-container h2 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.login {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}


button {
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button.mat-raised-button {
  background-color: #007aff;
  color: #fff;
  box-shadow: 0 4px 14px rgba(0, 122, 255, 0.3);
}

button.mat-raised-button:hover {
  background-color: #0056d6;
}

button.mat-button {
  color: #007aff;
  font-size: 14px;
  margin-top: 10px;
}

button.mat-button:hover {
  background-color: rgba(0, 122, 255, 0.1);
}

.login-titel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  img {
    width: 150px;
    height: auto;
  }
}

img{
  width: 450px;
  height: 450px;
  border-radius: 8px;
}

// ----------------------------

// Kompakteres Design für die Input-Felder
mat-form-field {
  width: 100%;  // Breite des Feldes
  margin-bottom: 2px;  // Reduziere den Abstand zwischen den Feldern
  
  .mat-form-field-wrapper {
    padding-bottom: 0;  // Reduziere den Abstand im Inneren
  }
  
  .mat-input-element {
    font-size: 14px;  // Kleinere Schriftgröße
    padding: 8px;  // Weniger Innenabstand
  }

  .mat-form-field-label {
    font-size: 12px;  // Kleinere Beschriftung
  }
}

// Kompakteres Design für die Buttons
button {
  min-width: unset;  // Entferne die minimale Breite
  padding: 4px 12px;  // Reduziere das Padding im Inneren
  font-size: 14px;  // Kleinere Schriftgröße
  margin-top: 12px;  // Reduziere den oberen Abstand zum Button

  &.mat-raised-button {
    height: 36px;  // Kleinere Höhe für die Buttons
  }

  &.mat-button {
    height: 32px;  // Höhe für flache Buttons
  }
}