html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f7; /* Apple-like Hintergrundfarbe */
  gap: 0%;
}

.full-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c50a2;
  gap: 0%;
  flex-wrap: wrap;
  background-image: url("../../assets/securepass.svg"); /* Das Bild */
  background-size: cover; /* Vollständig das Containerfeld füllen */
  background-position: center; /* Zentrieren */
  background-repeat: no-repeat; /* Keine Wiederholung */
  background-blend-mode: overlay; /* Blendeffekt für Überlagerung */

}

.login-container {
  display: flex;
  justify-content: center;
  max-width: 450px;
  height: 450px;
  width: 100%;
  padding: 40px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); /* Leichterer, weicherer Schatten */
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9); /* Leichte Transparenz */
  backdrop-filter: blur(10px); /* Weichzeichnereffekt für den Apple-Look */
  opacity: 0.9;

}


.login-container h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button.mat-raised-button {
  background-color: #007aff;
  color: #fff;
  box-shadow: 0 4px 14px rgba(0, 122, 255, 0.3);
}

button.mat-raised-button:hover {
  background-color: #0056d6;
}

button.mat-button {
  color: #007aff;
  font-size: 14px;
  margin-top: 10px;
}

button.mat-button:hover {
  background-color: rgba(0, 122, 255, 0.1);
}

.login-titel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 100px;
    height: auto;
  }
  h2{
    margin: 0;
  }
}

img{
  width: 450px;
  height: 450px;
  border-radius: 8px;
}
