<div class="full-page">
  <div class="login-container">

    <div class="login">
      <div class="login-titel">
        <img src="../../assets/logo-securepass.svg" alt="">
        <h2>Login</h2>
      </div>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" name="email" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Passwort</mat-label>
          <input matInput [(ngModel)]="password" name="password" type="password" required>
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit">Login</button>
        <button mat-raised-button (click)="routeRegistrieren()">Registrieren</button>

        <button mat-button (click)="routeForgotPassword()">Passwort vergessen?</button>
      </form>

    </div>
  </div>
</div>