<div class="form">
  <h1 mat-dialog-title class="header">Webseitendetails - {{data.label}}</h1>
  
  <div mat-dialog-content class="matdiv">
    <!-- URL Field (readonly) -->
    <div class="inputFields">
    <mat-form-field appearance="outline" style="margin-right: 24px;">
      <mat-label>URL</mat-label>
      <input matInput [value]="stripProtocol(data.url)" readonly>
    </mat-form-field>

    <!-- Name Field (readonly) -->
    <mat-form-field appearance="outline">
      <mat-label>Name der Kachel</mat-label>
      <input matInput [value]="data.label" readonly>
    </mat-form-field>
  </div>
  </div>

  <!-- Password Field with Copy Button and Generate Button -->
  <div class="password-field">
    <mat-form-field appearance="outline" class="password-input">
      <mat-label>Password</mat-label>
      <!-- Passwort ist jetzt editierbar -->
      <input matInput [(ngModel)]="data.password" class="placeholderPassword">
    </mat-form-field>

    <!-- Copy to Clipboard Button -->
    <div class="buttonsGenAndCopy">
    <button mat-icon-button class="clipboard-button" (click)="copyToClipboard(data.password)" matTooltip="Copy Password" style="margin-right: 14px;">
      <mat-icon>content_copy</mat-icon>
    </button>

    <!-- Generate Password Button -->
    <div class="aroundgen">
      <button mat-icon-button class="generate-password-button" (click)="generatePassword()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
  </div>
</div>


  <!-- Dialog Actions -->
  <div mat-dialog-actions class="buttonsCancelAndAdd">
    <!-- Schließen-Button -->
    <button mat-raised-button color="primary" (click)="onClose()">Schließen</button>
    
    <!-- Speichern-Button -->
    <button mat-raised-button color="primary" (click)="onSave()">Speichern</button>
  </div>
</div>
