<div class="form">
  <div class="oben">
  <h1 mat-dialog-title class="header">Webseitendetails - {{data.label}}
  <div style="margin-top: 10px; float: right;">
    <button mat-icon-button class="launch-button" (click)="openWebsite(data.url)" matTooltip="Zur Webseite">
      <mat-icon>launch</mat-icon>
    </button>
  </div>
</h1>
</div>
  
  <div mat-dialog-content class="matdiv">
    <!-- URL Field (readonly) -->
    <div class="inputFields">
    <mat-form-field appearance="outline" style="margin-right: 24px;">
      <mat-label>URL</mat-label>
      <input matInput [value]="stripProtocol(data.url)" readonly>
    </mat-form-field>

    <!-- Name Field (readonly) -->
    <mat-form-field appearance="outline">
      <mat-label>Kachelname</mat-label>
      <input matInput [value]="data.label" readonly>
    </mat-form-field>
  </div>
  </div>

     <!-- Password Field with Generate Button -->
    <!-- Password Field with Hover Visibility -->
  <div class="password-field">
    <mat-form-field appearance="outline" class="password-input">
      <mat-label>Password</mat-label>
      <input matInput [type]="isPasswordVisible ? 'text' : 'password'" [(ngModel)]="data.password" class="placeholderPassword"
             (mouseenter)="togglePasswordVisibility(true)" (mouseleave)="togglePasswordVisibility(false)">
    </mat-form-field>

    <!-- Copy to Clipboard Button -->
    <div class="buttonsGenAndCopy">
    <button mat-icon-button class="clipboard-button" (click)="copyToClipboard(data.password)" matTooltip="Copy Password" style="margin-right: 14px;">
      <mat-icon>content_copy</mat-icon>
    </button>

    <!-- Generate Password Button -->
    <div class="aroundgen">
      <button mat-icon-button class="generate-password-button" (click)="generatePassword()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-form-field appearance="fill">
  <mat-label>Kategorie</mat-label>
  <mat-select [(ngModel)]="data.category">
    <mat-option *ngFor="let category of categories" [value]="category">
      {{category}}
    </mat-option>
  </mat-select>
</mat-form-field>




<mat-form-field appearance="outline" class="description-input">
  <mat-label>Notiz</mat-label>
  <textarea matInput [(ngModel)]="data.description" maxlength="80"></textarea>
  <mat-hint align="end">{{description.length || 0}}/80</mat-hint>
</mat-form-field>





  <!-- Dialog Actions -->
  <div mat-dialog-actions class="buttonsCancelAndAdd">

    <!-- Schließen-Button -->
    <button mat-raised-button color="primary" (click)="onClose()">Schließen</button>
    
    <!-- Speichern-Button -->
    <button mat-raised-button color="primary" (click)="onSave()">Speichern</button>
  </div>
</div>
