.form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.header {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #333;
}

.mat-form-field {
  margin-bottom: 24px;
  width: 100%;
}

.password-field {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
  width: 100%;

}

.password-input {
  flex-grow: 1;
  margin-right: 24px;
}

/* Around the generate password button */
.aroundgen {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 40px;
  height: 40px;
  background-color: rgba(200, 200, 200, 0.8); /* Grau wie bei Apple */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #f1f1f1;
  margin-bottom: 24px;
}

/* Styling for the generate-password-button */
.generate-password-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1; /* Einheitliche Hintergrundfarbe für beide Buttons */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für besseren Kontrast */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Icon Styling inside the button */
.generate-password-button mat-icon {
  font-size: 20px;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Clipboard button styling */
.clipboard-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1; /* Einheitliche Hintergrundfarbe wie bei generate-password-button */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für besseren Kontrast */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 0; /* Entferne zusätzliches Padding */
}

/* Icon Styling inside the clipboard button */
.clipboard-button mat-icon {
  font-size: 18px; /* Reduziere die Schriftgröße, um das Icon sichtbar zu machen */
  color: #666; /* Gleiche Farbe wie bei generate-password-button */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Füllt den Button aus */
  height: 100%; /* Füllt den Button aus */
  line-height: 1; /* Stellt sicher, dass das Icon zentriert ist */
}



/* Clipboard button after copy animation */
.clipboard-button.copied {
  background-color: #007aff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: pulse 0.5s ease-in-out;
}

/* Launch button styling */
.launch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1; /* Einheitliche Hintergrundfarbe wie bei anderen Buttons */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für besseren Kontrast */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 0; /* Entferne zusätzliches Padding */
}

/* Icon Styling inside the launch button */
.launch-button mat-icon {
  font-size: 18px; /* Schriftgröße passend zu den anderen Icons */
  color: #666; /* Gleiche Farbe wie bei anderen Icons */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Füllt den Button aus */
  height: 100%; /* Füllt den Button aus */
  line-height: 1; /* Stellt sicher, dass das Icon zentriert ist */
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.clipboard-button:hover,
.aroundgen:hover {
  background-color: #e0e0e0;
}

button mat-icon {
  font-size: 20px;
  color: #666;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}

/* Button styling */
button {
  background-color: #007aff;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0e0e0;
}

.matdiv {
  padding: 4px !important;
}

/* Container for cancel and add buttons */
.buttonsCancelAndAdd {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.buttonsGenAndCopy{
  display: flex;
  flex-wrap: nowrap;
}
