<div class="full-page">
    <div class="register-container">
      <div class="register">
        <div class="register-titel">
          <img src="../../assets/logo-securepass.svg" alt="">
          <h2>Passwort zurücksetzen</h2>
        </div>

        <form (ngSubmit)="resetPassword()" style="margin-top: 24px;">
          <mat-form-field appearance="fill">
            <mat-label>Neues Passwort</mat-label>
            <input matInput [(ngModel)]="newPassword" name="newPassword" type="password" required>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-top: -24px;">
            <mat-label>Passwort bestätigen</mat-label>
            <input matInput [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required>
          </mat-form-field>

          <button style="margin-top: -2px;" mat-flat-button color="primary" type="submit">Passwort zurücksetzen</button>
        </form>
      </div>
    </div>
</div>
