.form {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.header {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #333;
}

.password-field {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-content: space-between;
}

.password-input {
    flex-grow: 1;
    margin-right: 24px;
}

/* Around the generate password button */
.aroundgen {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 40px;
    height: 40px;
    background-color: rgba(200, 200, 200, 0.8); /* Grau wie bei Apple */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #f1f1f1;
    margin-bottom: 24px;
}

/* Styling for the generate-password-button */
.generate-password-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #f1f1f1; /* Einheitliche Hintergrundfarbe für beide Buttons */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für besseren Kontrast */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


/* Icon Styling inside the button */
.generate-password-button mat-icon {
    font-size: 20px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Container für die Buttons */
.buttonsCancelAndAdd {
    display: flex;
    justify-content: space-between; /* Buttons links und rechts platzieren */
    padding-top: 8px;
}

/* Button-Styling bleibt gleich */
button {
    background-color: #007aff;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
}

.matdiv {
    padding: 4px !important;
}

::ng-deep .chrome-wrap {
    padding-top: 16px;
    display: none !important;
    border-radius: 10px;
  }
  
  ::ng-deep .saturation{
      width: 100%;
      padding-bottom: 55%;
      position: relative;
      border-radius: 2px 2px 0 0;
      overflow: hidden;
      display: none;
  }
  
  ::ng-deep .chrome-picker{
      box-shadow: none !important;
      background: none !important;
  }
  
  ::ng-deep .chrome-alpha{
      display: none;
  }
  ::ng-deep .chrome-hue{
      margin-top: 8px;
  }

  .farbenAuswahl{
    width: 100%;
    margin-bottom: 24px

  }