<div class="form">
  <h1 mat-dialog-title class="header">Detaileingabe</h1>
  <div mat-dialog-content class="matdiv">

    <div class="farbenAuswahl" style="display: flex; align-items: center; flex-direction: row; padding-left: 0px; cursor: default;">
      <mat-card style="display: flex; flex-direction: row; width: 450px" appearance="outlined">
        <mat-card-content>Farbenauswahl: </mat-card-content>
        <color-chrome [(color)]="selectedColor" (onChange)="onColorChange($event.color.hex)" style="margin-left: 24px; cursor: pointer;"></color-chrome>
      </mat-card>
    </div>

   <!-- URL Field -->
<div class="inputFields">
  <mat-form-field appearance="outline" style="margin-right: 24px; width: 45%;">
    <mat-label>www.google.de</mat-label>
    <input matInput [(ngModel)]="link" class="placeholder">
  </mat-form-field>

  <!-- Name Field -->
  <mat-form-field appearance="outline" style="width: 45%;">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="label" class="placeholderName">
  </mat-form-field>
</div>

   <!-- Password Field with Generate Button -->
   <div class="username-field" style="width: 180px;">
    <mat-form-field appearance="outline" class="password-input">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" class="placeholderPassword">
    </mat-form-field>
    </div>

    <!-- Password Field with Generate Button -->
    <div class="password-field">
      <mat-form-field appearance="outline" class="password-input">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" (input)="checkPasswordStrength()" class="placeholderPassword">
      </mat-form-field>
  
      <!-- Generate Password Button -->
      <div class="aroundgen">
        <button mat-icon-button class="generate-password-button" (click)="generatePassword()">
          <mat-icon>autorenew</mat-icon>
        </button>
      </div>
    </div>
  </div> 

   <!-- Password Strength Meter -->
   <div class="pwMeter" *ngIf="password.length > 0">
    <mat-progress-bar mode="determinate" [value]="passwordStrength"></mat-progress-bar>
    <p>{{ passwordStrengthDescription }}</p>
  </div>

  <div class="category">
  <mat-form-field appearance="fill">
    <mat-label>Kategorie</mat-label>
    <mat-select [(ngModel)]="category">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  
  <!-- Notizfeld -->
   <div class="notice">
  <mat-form-field appearance="outline" class="description-input">
    <mat-label>Notiz</mat-label>
    <textarea matInput [(ngModel)]="description" maxlength="80"></textarea>
    <mat-hint align="end">{{description.length || 0}}/80</mat-hint>
  </mat-form-field>
</div>


  <!-- Dialog Actions -->
  <div mat-dialog-actions class="buttonsCancelAndAdd">
    <button mat-raised-button color="primary" (click)="onCancel()">Abbrechen</button>
    <button mat-raised-button color="primary" (click)="onSave()">Hinzufügen</button>
  </div>
</div>
